<!DOCTYPE html>
<html>
    <head>
        <title>Wiki</title>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
    </head>
    <body>
        <div id='wrap'>
            <a href='/' id='header'>Wiki Page</a>

            <div id='login-area'>
                {% if user %}
                    {% block edit %}
                    {% endblock %}
                    {{user.username}}  <a id='login-link' href='/logout'>Logout</a>
                {% else %}
                    <a id='login-link' href='/login'>Login</a>
                    |
                    <a id='login-link' href='/signup'>Register</a>
                {% endif %}
            </div>

            <div id='main'>
                {% block content %}

                A wiki is a web application which allows people to add, modify, or delete content in collaboration with others. In a typical wiki, text is written using a simplified markup language or a rich-text editor. While a wiki is a type of content management system, it differs from a blog or most other such systems in that the content is created without any defined owner or leader, and wikis have little implicit structure, allowing structure to emerge according to the needs of the users.

                The encyclopedia project Wikipedia is the most popular wiki on the public web in terms of page views,but there are many sites running many different kinds of wiki software. Wikis can serve many different purposes both public and private, including knowledge management, notetaking, community websites and intranets. Some permit control over different functions (levels of access). For example, editing rights may permit changing, adding or removing material. Others may permit access without enforcing access control. Other rules may also be imposed to organize content.Ward Cunningham, the developer of the first wiki software, WikiWikiWeb, originally described it as "the simplest online database that could possibly work"."Wiki" is a Hawaiian word meaning "Quick".
                {% endblock %}
            </div>

            <div id='sidebar'>
              This Wiki is written in Python. It allows you to create new Wiki's. You can also edit existing Wiki's.
            </div>

            <div id='footer'>
                <p>
                    &copy 2014
                </p> 
            </div>
        </div>
    </body>
</html>
