{% extends 'base.html' %}

{% block content %}
<form method='post'>
	<h2>Wiki - Signup</h2>
	<table>
		<tr>
			<td id='label'>
				Username
			</td>
			<td>
				<input type='text' name='username' value='{{username}}'/>
			</td>
			<td id ='error'>
				{{error_username}}
			</td>
		</tr>

		<tr> 
			<td id='label'>
				Password
			</td>
			<td>
				<input type='password' name='password' value='{{password}}'/>
			</td>
			<td id='error'>
				{{error_password}}
			</td>
		</tr>

		<tr>
			<td id='label'>
				Confirm password
			</td>
			<td>
				<input type='password' name='verify' value='{{confirm}}'/>
			</td>
			<td id='error'>
				{{error_confirm}}
			</td>
		</tr>

		<tr>
			<td id='label'>
				Email (optional)
			</td>
			<td>
				<input type='text' name='email' value='{{email}}'/>
			</td>
			<td id='error'>
				{{error_email}}
			</td>
		</tr>

		<tr>
			<td>
				<input id='submit' type='submit' value='Submit'/>
			</td>
		</tr>
	</table>
</form>
{% endblock %}